<h1 id="page_title">Say Hello</h1>

<div class="skinny_wrapper wrapper_padding">
	<%= form_for @contact do |f| %>

	Name: <%= f.text_field :name %>

	<br>

	Email: <%= f.email_field :email %>

	<br>
	Message: <%= f.text_field :message %>


	<br>

	<%= f.submit %>
		<% end %>
</div>